<ion-header>
  <ion-toolbar>
    <ion-title>{{ day }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="text-center">Tipo de entrenamiento</h2>

  <div class="training-grid">
    <button
      *ngFor="let t of types"
      class="training-option"
      [class.selected]="type === t.type"
      (click)="type = t.type"
    >
      <div class="icon-wrapper" [innerHTML]="t.svg"></div>
      <span>{{ t.label }}</span>
    </button>
  </div>

  <!-- Only show blocks if not rest -->
  <div *ngIf="type !== 'rest'" class="ion-margin-top">
    <ion-list>
      <ion-item-divider color="light">
        <ion-label>Bloques del entrenamiento</ion-label>
      </ion-item-divider>

      <div *ngFor="let block of blocks; let i = index" class="ion-margin-bottom ion-padding ion-border">
        <ion-item>
          <ion-label position="floating">Nombre del bloque</ion-label>
          <ion-input [(ngModel)]="block.nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Distancia</ion-label>
          <ion-input [(ngModel)]="block.distancia"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Duración</ion-label>
          <ion-input [(ngModel)]="block.duracion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ritmo / Zona</ion-label>
          <ion-input [(ngModel)]="block.ritmo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descanso</ion-label>
          <ion-input [(ngModel)]="block.descanso"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Comentarios</ion-label>
          <ion-textarea [(ngModel)]="block.comentarios"></ion-textarea>
        </ion-item>

        <ion-button color="danger" fill="clear" expand="block" (click)="eliminarBloque(i)">
          <ion-icon name="trash-outline"></ion-icon>
          Eliminar bloque
        </ion-button>
      </div>

      <ion-button expand="block" color="medium" fill="outline" (click)="agregarBloque()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Añadir bloque
      </ion-button>
    </ion-list>
  </div>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Comentarios generales</ion-label>
    <ion-textarea [(ngModel)]="comments"></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="saveWorkout()" class="ion-margin-top">
    Guardar entrenamiento
  </ion-button>
</ion-content>
