<ion-header class="export-header text-center">
  <ion-toolbar class="export-header">
    <ion-title>Exportar entrenamiento</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="close()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div #preview [innerHTML]="previewHTML" class="pdf-preview"></div>

  <ion-button expand="block" color="success" (click)="shareWhatsApp()">
    <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
    Enviar por WhatsApp
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="exportToPDF()">
    <ion-icon name="download-outline" slot="start"></ion-icon>
    Descargar PDF
  </ion-button>
</ion-content>
