<app-week-header
  [weekStart]="weekStart"
  (weekChange)="weekStart = $event">
</app-week-header>


<ion-content>
  <div *ngFor="let day of days" (click)="openWorkoutModal(day)">
    <app-day-card
      [day]="day"
      [workout]="workouts[day]"
      (add)="selectDay(day)"
      (edit)="selectDay(day)"
      (delete)="deleteWorkout(day)">
    </app-day-card>
  </div>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="openExportModal()">
      <ion-icon name="share-social-outline" slot="start"></ion-icon>
      Exportar el entrenamiento
    </ion-button>
  </ion-toolbar>
</ion-footer>



</ion-content>
