<app-week-header
  [weekStart]="weekStart"
  (weekChange)="weekStart = $event">
</app-week-header>

<ion-content>
  <div *ngFor="let day of days" (click)="openWorkoutModal(day)">
    <app-day-card
      [day]="day"
      [workout]="workouts[day]"
      (add)="selectDay(day)"
      (edit)="selectDay(day)"
      (delete)="deleteWorkout(day)">
    </app-day-card>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="exportWorkouts()">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>
